<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Raspberry Pi 3B+ GPIO</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Page specific CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}" />
</head>

<body class="text-center">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">GPIO</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/gpio">GPIO</a>
                </nav>
            </div>
        </header>
        <main role="main" class="main">
            <div class="row justify-content-center">
                <div><span class="text-rotate white"></span></div>
                <div><span class="text-rotate red">5.0vDC</span></div>
                <div><span class="text-rotate red">5.0vDC</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate purple">GPIO14</span></div>
                <div><span class="text-rotate purple">GPIO15</span></div>
                <div><span class="text-rotate green">GPIO18</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate green">GPIO23</span></div>
                <div><span class="text-rotate green">GPIO24</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate green">GPIO25</span></div>
                <div><span class="text-rotate blue">GPIO08</span></div>
                <div><span class="text-rotate blue">GPIO07</span></div>
                <div><span class="text-rotate yellow">ID_SC</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate green">GPIO12</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate green">GPIO16</span></div>
                <div><span class="text-rotate green">GPIO20</span></div>
                <div><span class="text-rotate green">GPIO21</span></div>
                <div><span class="text-rotate white"></span></div>
            </div>
            <div class="row justify-content-center">
                <div><span class="text-rotate white"></span></div>
                <div><span class="text-rotate white">2</span></div>
                <div><span class="text-rotate white">4</span></div>
                <div><span class="text-rotate white">6</span></div>
                <div><span class="text-rotate white">8</span></div>
                <div><span class="text-rotate white">10</span></div>
                <div><span class="text-rotate white">12</span></div>
                <div><span class="text-rotate white">14</span></div>
                <div><span class="text-rotate white">16</span></div>
                <div><span class="text-rotate white">18</span></div>
                <div><span class="text-rotate white">20</span></div>
                <div><span class="text-rotate white">22</span></div>
                <div><span class="text-rotate white">24</span></div>
                <div><span class="text-rotate white">26</span></div>
                <div><span class="text-rotate white">28</span></div>
                <div><span class="text-rotate white">30</span></div>
                <div><span class="text-rotate white">32</span></div>
                <div><span class="text-rotate white">34</span></div>
                <div><span class="text-rotate white">36</span></div>
                <div><span class="text-rotate white">38</span></div>
                <div><span class="text-rotate white">40</span></div>
                <div><span class="text-rotate white"></span></div>
            </div>
            <div class="row justify-content-center">
                <div><span class="text-rotate white"></span></div>
                <div><span class="text-rotate white">1</span></div>
                <div><span class="text-rotate white">3</span></div>
                <div><span class="text-rotate white">5</span></div>
                <div><span class="text-rotate white">7</span></div>
                <div><span class="text-rotate white">9</span></div>
                <div><span class="text-rotate white">11</span></div>
                <div><span class="text-rotate white">13</span></div>
                <div><span class="text-rotate white">15</span></div>
                <div><span class="text-rotate white">17</span></div>
                <div><span class="text-rotate white">19</span></div>
                <div><span class="text-rotate white">21</span></div>
                <div><span class="text-rotate white">23</span></div>
                <div><span class="text-rotate white">25</span></div>
                <div><span class="text-rotate white">27</span></div>
                <div><span class="text-rotate white">29</span></div>
                <div><span class="text-rotate white">31</span></div>
                <div><span class="text-rotate white">33</span></div>
                <div><span class="text-rotate white">35</span></div>
                <div><span class="text-rotate white">37</span></div>
                <div><span class="text-rotate white">39</span></div>
                <div><span class="text-rotate white"></span></div>
            </div>
            <div class="row justify-content-center">
                <div><span class="text-rotate white"></span></div>
                <div><span class="text-rotate orange">3.3vDC</span></div>
                <div><span class="text-rotate pink">GPIO02</span></div>
                <div><span class="text-rotate pink">GPIO03</span></div>
                <div><span class="text-rotate green">GPIO04</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate green">GPIO17</span></div>
                <div><span class="text-rotate green">GPIO27</span></div>
                <div><span class="text-rotate green">GPIO22</span></div>
                <div><span class="text-rotate orange">3.3vDC</span></div>
                <div><span class="text-rotate blue">GPIO10</span></div>
                <div><span class="text-rotate blue">GPIO09</span></div>
                <div><span class="text-rotate blue">GPIO11</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate yellow">ID_SD</span></div>
                <div><span class="text-rotate green">Ground</span></div>
                <div><span class="text-rotate green">GPIO05</span></div>
                <div><span class="text-rotate green">GPIO13</span></div>
                <div><span class="text-rotate green">GPIO19</span></div>
                <div><span class="text-rotate green">GPIO26</span></div>
                <div><span class="text-rotate gray">Ground</span></div>
                <div><span class="text-rotate white"></span></div>
            </div>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>© {{ now.year }}</p>
            </div>
        </footer>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Page specific JavaScript -->
    <script src="{{ url_for('static', filename='js/cover.js') }}"></script>
</body>

</html>
