<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>iot-edge-raspberry-pi</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Page specific CSS -->
    <link rel="stylesheet" href="/static/css/home.css" />
</head>
<body>
    <h1>Hello, World!</h1>
    <p><span style="color: gray;">Gray = Unknown | </span><span style="color: green;">Green = On | </span><span style="color: red;">Red = Off</span></p>
    <button class="btn btn-secondary" disabled id="btn10" onclick="togglePin(10);" role="button">Pin 10</button>
    <button class="btn btn-secondary" disabled id="btn9"  onclick="togglePin(9);"  role="button">Pin  9</button>
    <button class="btn btn-secondary" disabled id="btn11" onclick="togglePin(11);" role="button">Pin 11</button>
    <button class="btn btn-secondary" disabled id="btn5"  onclick="togglePin(5);"  role="button">Pin  5</button>
    <button class="btn btn-secondary" disabled id="btn6"  onclick="togglePin(6);"  role="button">Pin  6</button>
    <button class="btn btn-secondary" disabled id="btn13" onclick="togglePin(13);" role="button">Pin 13</button>
    <button class="btn btn-secondary" disabled id="btn19" onclick="togglePin(19);" role="button">Pin 19</button>
    <button class="btn btn-secondary" disabled id="btn26" onclick="togglePin(26);" role="button">Pin 26</button>
    <button class="btn btn-secondary" disabled id="btn24" onclick="togglePin(24);" role="button">Pin 24</button>
    <button class="btn btn-secondary" disabled id="btn25" onclick="togglePin(25);" role="button">Pin 25</button>
    <button class="btn btn-secondary" disabled id="btn8"  onclick="togglePin(8);"  role="button">Pin  8</button>
    <button class="btn btn-secondary" disabled id="btn7"  onclick="togglePin(7);"  role="button">Pin  7</button>
    <button class="btn btn-secondary" disabled id="btn12" onclick="togglePin(12);" role="button">Pin 12</button>
    <button class="btn btn-secondary" disabled id="btn16" onclick="togglePin(16);" role="button">Pin 16</button>
    <button class="btn btn-secondary" disabled id="btn20" onclick="togglePin(20);" role="button">Pin 20</button>
    <button class="btn btn-secondary" disabled id="btn21" onclick="togglePin(21);" role="button">Pin 21</button>

    <!-- Bootstrap JavaScript -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/tooltip.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Page specific JavaScript -->
    <script src="/static/js/home.js"></script>
</body>
</html>
